html{
	font-size: 62.5%;
}
body{
    overflow-x: hidden;
}
header{
    background: #333;
    width: 1512px;
    height: 43px;
    line-height: 43px;
}
h1{
    font-size: 2rem;
    color: #fff;
    padding-left: 10px;
    font-weight: bold;
}
.images{
    width: 100%;
    height: 600px;
    background-image:
        url(../images/03_bg_overlay.png),
        linear-gradient(
            to bottom,
            rgba(79, 79, 79, 0.58),
            rgba(0, 0, 0, 0.1)),
        url(../images/03_bg.jpg);
    background-size: 4px 4px, cover, cover;
    background-position: bottom;
    background-repeat: repeat, no-repeat, no-repeat;
}