html{
	font-size: 62.5%;
}
header{
    background: #333;
    width: auto;
    height: 43px;
    line-height: 43px;
}
h1{
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #fff;
    padding-left: 10px;
}
@keyframes bgImg{
    0%  { background: #8DE0E3;}
    20% { background: #E3B28D;}
    40% { background: #E38D8D;}
    60% { background: #E3E38D;}
    80% { background: #AE8DE3;}
    100%{ background: #E3DD8D;}
}
.mainImg{
    width: 100%;
    height: 560px;
    animation: bgImg 20s infinite alternate;
}
.mainImg p{
    font-size: 16rem;
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    color: #fff;
    text-align: center;
    line-height: 560px;
}
.btnWrap{
    width: 100%;
    height: 380px;
    display: flex;
}
.btnBase{
    width: 50%;
    height: 380px;
    background: #FF6347;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.btnBase a{
    display: block;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    border: 1px solid #fff;
    width: 70%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    transition: ease-in-out .3s;
}
.btnBase a:hover{
    color: #FF6347;
    background: #fff;
}
.btnLink{
    background: #87CEEB;
    transition: ease 3s;
}
.btnLink:hover{
    background: #AE8DE3;
}
.btnLink a{
    background: url(../img/04_iconArrow.png) 110% center no-repeat;
    transition: .3s ease-in-out;
}
.btnLink a:hover{
    color: #fff;
    letter-spacing: 1.6rem;
    background: url(../img/04_iconArrow.png) 95% center no-repeat;
}
.content{
    margin: 20px 0;
    padding: 0 20px;
    border-top: dotted 1px #333;
}
.contentTtl{
    margin: 20px 0 10px;
    font-size: 1.5rem;
}
.cardWrap{
    width: 260px;
    height: 430px;
    border: solid 1px #EFEFEF;
    border-radius: 8px;
    overflow: hidden;
    transition: .3s ease-in-out;
}
.cardWrap:hover{
    cursor: pointer;
    box-shadow: 1px 1px 6px #999;
}
.cardImgWrap{
    width: 100%;
    height: 180px;
    background: url(../img/04_img_bk.png) no-repeat center/cover;
    position: relative;
}
.cardImgInnerWrap{
    position: absolute;
    bottom: -15px;
    left: 90px;
}
.cardImgInnerWrap img{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 100%;
    display: block;
    box-shadow: 1px 1px 6px #999;
}
.cardInnerWrap{
    padding: 20px;
    margin-top: 20px;
}
.cardTtl{
    font-size: 1.1rem;
    color: #000;
    text-align: center;
}
.cardText{
    padding: 25px 0;
}
.cardText p{
    font-size: 1.1rem;
    color: #000;
    line-height: 1.8;
}
.exWrap{
    margin: 20px 0;
    padding: 20px;
    border: dotted 1px #c0c0c0;
}
.exWrap h2{
    font-size: 1.5rem;
}
footer{
    text-align: center;
}