html{
	font-size: 62.5%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    background: #302833;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    font-size: 2rem;
    color: #fff;
    padding-left: 25px;
}
nav{
    flex-basis: 50%;
}
ul{
    display: flex;
    li{
        flex-basis: 150px;
        width: 135px;
        height: 60px;
        a{
            width: 100%;
            height: 100%;
            color: #fff;
            font-size: 1.2rem;
            font-weight: bold;
            display: block;
            text-align: center;
            line-height: 60px;
            transition: .2s ease-in-out;
        }
        a:hover{
            background: #FDDEA5;
        }
    }
}
.mainImg{
    background: 
        url(../img/05_bg.jpg) center center/cover no-repeat;
    height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .txt{
        margin-right: 100px;
        h2{
            color: #fff;
            font-size: 5.6rem;
            font-weight: 100;
            font-family: serif;
        }
        p{
            color: #fff;
            font-size: 1.4rem;
            font-family: serif;
            border-top: solid 1px #fff;
            padding-top: 10px;
            line-height: 2.5;
        }
    }
}
.content{
    margin: 40px 0;
    text-align: center;
    h2{
        font-family: serif;
        font-size: 3.2rem;
    }
    .sectionWrap{
        margin: 40px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        img{
            width: 250px;
            height: 250px;
            border-radius: 150px;
        }
        h3{
            font-size: 2.4rem;
            font-family: serif;
            margin: 18px;
        }
        p{
            font-size: 1.6rem;
        }
    }
}
footer{
    text-align: center;
    font-size: 1.2rem;
}