html{
	font-size: 62.5%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    background: #302833;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    font-size: 2rem;
    color: #fff;
    padding-left: 25px;
}
nav{
    flex-basis: 50%;
}
ul{
    display: flex;
    li{
        flex-basis: 150px;
        width: 135px;
        height: 60px;
        a{
            width: 100%;
            height: 100%;
            color: #fff;
            font-size: 1.2rem;
            font-weight: bold;
            display: block;
            text-align: center;
            line-height: 60px;
            transition: .2s ease-in-out;
        }
        a:hover{
            background: #FDDEA5;
        }
    }
    .ex > a{
        position: relative;
        z-index: 10;
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        & > span{
            position: relative;
            z-index: 10;
        }
        &:hover:after{
            transform: translate(0) rotate(0)
        }
        &:after{
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: #FDDEA5;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            transform-origin: left top;
            transform: translate(-101%) rotate(0);
            transition: .2s ease-in-out;
        }
    }
}
.mainImg{
    background: 
        linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1)
        ),
        url(../img/05_bg.jpg) center center/cover no-repeat;
    height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .txt{
        margin-right: 100px;
        animation: 1.2s ease-in-out forwards ttlText;
        h2{
            color: #fff;
            font-size: 5.6rem;
            font-weight: 100;
            font-family: serif;
        }
        p{
            color: #fff;
            font-size: 1.4rem;
            font-family: serif;
            border-top: solid 1px #fff;
            padding-top: 10px;
            line-height: 2.5;
        }
    }
}
@keyframes ttlText{
    0%{
        opacity: 0;
        transform: translate(200px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
.content{
    margin: 40px 0;
    text-align: center;
    h2{
        font-family: serif;
        font-size: 3.2rem;
    }
    .sectionWrap{
        margin: 40px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 20px;
        section{
            padding: 20px 0;
            flex-basis: 300px;
            flex-grow: 1;
            text-align: center;
        }
        img{
            width: 250px;
            height: 250px;
            border-radius: 100%;
        }
        h3{
            font-size: 2.4rem;
            font-family: serif;
            margin: 18px;
        }
        p{
            width: 300px;
            font-size: 1.6rem;
            text-align-last: left;
            margin: 20px auto;
        }
    }
}
footer{
    text-align: center;
    font-size: 1.2rem;
}