html{
	font-size: 62.5%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    background: #302833;
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    font-size: 2rem;
    color: #fff;
    padding-left: 25px;
}
ul{
    display: flex;
}
li{
    margin: 0 50px;
}
li:last-child{
    margin: 0 30px;
}
li>a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}
.mainImg_{
    background: url(../images/05_bg.jpg);
}